<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>Log-In</p>
        <form id="login-form" method="post">
            <div class="login-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" placeholder="E-Mail을 입력하세요.">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <button value="Submit" type="submit">Submit</button>
        </form>
        <input type="button" id="logout" onclick="logout_event();" value="LogOut" disabled />
        <input type="button" id="withdraw" onclick="withdraw_event();" value="Withdraw" disabled />
    </div>
</div> <!-- /container -->
<script type="text/javascript">
    {
        const accessToken = localStorage.getItem('wtw-token') || '';
        if(accessToken){
            document.getElementById('logout').disabled = false;
            document.getElementById('withdraw').disabled = false;
        }
    }

    $('form').submit(function(event){
        const formData = {};
        $($('form').serializeArray()).each(function(i, v) {
            formData[v.name] = v.value;
        });
        $.ajax({
            type: 'POST',
            url: '/login',
            dataType: 'json',
            data: JSON.stringify(formData),
            contentType : 'application/json',
            success: function(data) {
                localStorage.setItem('wtw-token', data["tokens"].accessToken);
                alert(data["name"] + "님 환영합니다.");
                document.getElementById('logout').disabled = false;
                document.getElementById('withdraw').disabled = false;
                //onLoginSucess(data);
            },
            error : function(xhr, ajaxSettings, thrownError)
            {
                alert("로그인에 실패했습니다. E-Mail 혹은 Password를 확인하세요.");
            }
        });
        event.preventDefault();
    });

    function onLoginSucess(member){
        const url = "/user/home?name=" + member["name"];
        $.ajax({
            type: 'GET',
            url: url,
            headers: {"Authorization": 'Bearer ' + member["token"]},
            dataType: 'text',
            data: member["name"],
            contentType : 'application/json',
            success: function(data) {

            }
        });
    }

    function logout_event(){
        const url = "/user/signout";
        const accessToken = localStorage.getItem('wtw-token') || '';
        $.ajax({
            type: 'POST',
            url: url,
            headers: {"Authorization": 'Bearer ' + accessToken},
            contentType : 'application/json',
            success: function(data) {
                if(data === "success") {
                    localStorage.clear();
                    alert("로그아웃 되었습니다.");
                    document.getElementById('logout').disabled = true;
                    document.getElementById('withdraw').disabled = true;
                }
            }
        });
    }

    function withdraw_event(){
        const url = "/user/withdraw";
        const accessToken = localStorage.getItem('wtw-token') || '';
        const formData = {
            "password": $('#password').val()
        };
        $.ajax({
            type: 'POST',
            url: url,
            headers: {"Authorization": 'Bearer ' + accessToken},
            dataType: 'json',
            data: JSON.stringify(formData),
            contentType : 'application/json',
            success: function(data) {
                if(data === "success") {
                    alert("회원탈퇴 되었습니다.");
                    document.getElementById('logout').disabled = true;
                    document.getElementById('withdraw').disabled = true;
                }
            }, error: function(textStatus, errorThrown) {
                console.log(textStatus.responseText);
                console.log(textStatus.status);
                if(textStatus.responseText === "success"){
                    localStorage.clear();
                    alert("회원탈퇴 되었습니다.");
                    document.getElementById('logout').disabled = true;
                    document.getElementById('withdraw').disabled = true;
                }
            }
        });
    }
</script>
</body>
</html>